@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

.header {
    background-image: url(resourses/header-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
}

.half-width {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

.half-width .name {
    color: #FF2B7E;
    font-size: 40px;
    font-weight: bold;
}

.half-width p {
    margin: 20px 0px;
    text-align: justify;
}

.half-width img {
    width: 100%;
}


.biography {
    height: 100vh;
    display: flex;
    background-image: url(resourses/biography-bg.png);
}

.half-width button {
    background-image: linear-gradient(225deg, #FF2B7E, #d30554);
    border: 0;
    border-radius: 5px;
    max-width: 160px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 10px;
    cursor: pointer;
}


.latest-work {
    background-image: url(resourses/latest-work-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.latest-work .works {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.latest-work .works .work {
    background-image: linear-gradient(225deg, rgb(246, 246, 246), rgb(228, 228, 228));
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(155, 155, 155);
    width: 300px;
    height: 180px;
    overflow: hidden;
}

.latest-work .works .work img {
    width: 100%;
    object-fit: contain;
    transition: .3s ease-in-out;
}

.latest-work .works .work img:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}




.footer {
    background-image: url("resourses/footer-bg.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.footer .clints-says {
    display: flex;
    gap: 20px;
}

.footer .clints-says .s-clint {
    width: 400px;
    height: auto;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
}

.footer .clints-says .clint {
    background-color: rgb(229, 229, 229);
    border-radius: 10px 10px 0px 0px;
    padding: 5px 15px;
}

.footer .clints-says .clint .c-name {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer .clints-says .clint .c-position {
    text-transform: uppercase;
    color: rgb(151, 151, 151);
    font-weight: 600;
}

.footer .clints-says p {
    color: gray;
    margin: 15px;
    border-left: 5px solid black;
    padding: 0px 10px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .half-width {
        width: 80%;
    }

    .footer .clints-says .s-clint {
        width: 100%;
    }
}